ProxySync.CLI/bin
ProxySync.Core/bin
ProxySync.Services/bin
ProxySync.Utils/bin
ProxySync.Tests/bin

ProxySync.CLI/obj
ProxySync.Core/obj
ProxySync.Services/obj
ProxySync.Utils/obj
ProxySync.Tests/obj